<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru"
>
<head>
    <title>Main</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div th:insert="~{header :: copy}"></div>

<form class="row row-cols-lg-auto g-3 align-items-center" th:method="get" th:action="@{/main}">
    <div class="col-12">
        <input type="text" class="form-control" id="inputFilter" name="filter" th:value="${filter}"
               placeholder="Search by tag">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<a class="btn btn-primary my-3" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
   aria-controls="collapseExample">
    Add new message
</a>

<div class="collapse" id="collapseExample">

    <form th:action="@{/main}" th:method="post" enctype="multipart/form-data">
        <div class="mb-3 col-sm-6">
            <input type="text" name="text" placeholder="Текст сообщения" class="form-control">
        </div>
        <div class="mb-3 col-sm-3">
            <input type="text" name="tag" placeholder="Тэг" class="form-control">
        </div>
        <div class="input-group col-sm-3    ">
            <input type="file" name="file" class="form-control" id="inputGroupFile04"
                   aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        </div>
        <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Download</button>
    </form>
</div>


<p>Список сообщений</p>
<div class="row row-cols-1 row-cols-md-3 g-1">
    <div th:each="(message:${messages})">

        <div class="card my-3 w-100">
            <div th:if="${message.getFileName()!=null}">
                <img class="card-img-top" th:src="@{'/img/' + ${message.getFileName()}}"/>
            </div>
            <div class="m-2">
                <span th:text="${message.getText()}"></span>
                <i th:text="${message.getTag()}"></i>
            </div>
            <div class="card-footer text-body-secondary" th:text="${message.getAuthorName()}">Username</div>
        </div>
    </div>
</div>
</body>
</html>