<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Registration</title>
</head>
<body>
Add new user
<div th:if="${message}">
    <i th:text="${message}"></i>
</div>
<form th:action="@{/registration}" th:method="post" th:object="${user}">
    <div><label> User Name : <input type="text" th:field="*{username}" name="username"/> </label></div>
    <div><label> Password: <input type="password" th:field="*{password}" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>