<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of users</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Role</th>
        <th></th>
    </tr>
    </thead>
    <tbody th:each="(user:${users})">
<!--    <tr>-->
<!--        <td th:text="${user.getUsername()}"></td>-->
<!--        <div th:each="(role:${user.getRoles()})">-->
<!--            <td th:text="${role}"></td>-->
<!--        </div>-->
<!--    </tr>-->
<tr>
    <td th:text="${user.getUsername()}"></td>
    <td th:text="${#strings.setJoin(user.getRoles(), ',')}"></td>
    <td><a th:href="@{/user/{id}(id=${user.getId()})}">
        <button style="color:orange" type="submit">Изменить</button>
    </a></td>
</tr>
    </tbody>
</table>
</body>
</html>